h1 {
  margin-top: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

body {
  background-color: #ff8080
}

.task_card {
  display: inline-block;
}

.all_cards .card {
  background-color: white;
  border-radius: 0.2rem;
  margin: 0.5rem;
}

.footer_numbers {
  position: relative;
  margin-top: 1.5rem;
  bottom: 0.2rem;
}

.ctrl_btns {
  margin-bottom: 0.4rem;
}

.sort_panel {
  font-size: 17px;
  font-weight: 500;
}

.sort_panel:hover {
  cursor: default;
}

.sort_panel span {
  font-weight: 400;
  color: #737373;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}


.sort_panel span:hover {
  font-weight: 400;
  color: #212529;
}

#task_cr {
  margin-right: 25%;
}

.btn-toolbar {
  display: block;
  margin-bottom: 0.8rem;
}


/* For the login_page */

.data_fill {
  width: 30rem;
  margin-left: calc(50% - 15rem);
  margin-top: 5%;
}
