<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VK auth page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="container-fluid" id="head">
      </div>
    </header>
    <main>
      <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="col-md-4 col-sm-4" id="form_container">
          <div class="card" id="user_name" style="display: none;">
            <div>Ваше имя пользователя:</div>
          </div>
          <div class="card" id="friends" style="display: none;">
            <div>Пять Ваших друзей:</div>
          </div>
          <center>
            <button type="button" class="btn btn-primary" onclick="auth()" id="auth_btn" style="display: none">Авторизироваться</button>
          </center>
        </div>
      </div>

    </main>
    <script src="./public/js/main.js"></script>
    <script src="./public/js/vk_auth.js"></script>
  </body>
</html>
